@import '../node_modules/tachyons/css/tachyons.min.css';

.z-back { z-index: -1; }

.absolute--center {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.mxh-100 { max-height: 100%; }

.obj-contain { object-fit: contain; }
.obj-center { object-position: 50% 50%; }
