@import '../node_modules/tachyons/css/tachyons.min.css';

.z-back { z-index: -1; }

.mxh-80 { max-height: 80%; }
.mxh-100 { max-height: 100%; }

.obj-contain { object-fit: contain; }
.obj-center { object-position: 50% 50%; }

.v-ttop { vertical-align: text-top; }

.fcc { fill: currentColor; }

.disabled {
  cursor: default;
  pointer-events: none;
}

.bg-grad-bottom-bar {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0.2) 100%
  );
}

.absolute--center,
.shiftable {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shiftable {
  position: absolute;
  transition: opacity 184ms, transform 184ms;
}

.shiftable.shift-left { transform: translate(-200%, -50%); }
.shiftable.shift-right { transform: translate(100%, -50%); }
.shiftable.shift-down { transform: translate(-50%, 150%); }
